{% extends 'base/base-admin.html' %}

{% block tituloprincipal%} 
    <h1 class="page-header" > Listado datos Generales</h1>
{% endblock %}
{% load static %}

{% block buscador %}

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>

{% endblock buscador %}

{% block content%}

    <div class="panel panel-success">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Listado general
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Acciones
                        <span class="caret"></span>
                    </button>

                   

                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="{% url 'academica:registro_new'%}"><i class="far fa-calendar-plus"></i> Nuevo Registro</a>
                        <li><a href="{% url 'academica:registro_PDF'%}" target="blank"><i class="far fa-calendar-plus"></i> Reporte del Registro</a>
                        <li><a href="{% url 'bases:home' %}"><i class="far fa-calendar-plus"></i> Regresar al Inicio</a>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            
      <!-- <br>  
         <div class="row">
             <div class="col">
                <div class="card card-body">
                    <form method="get">
                        {{myFilter.form}}
                        <button class="btn btn-primary" type="submit">buscar</button>
                    </form>



                </div>
            </div>
        </div>
      <br> -->
      
        <!-- /.panel-body -->
        {% if not obj %}
            <div class="alert alert-info">No hay Datos Aagregados suerte para la proxima</div>
            {% else %}
            <table class="table table-striped table-hover table-bordered" id="data">
            
                <thead>
                    
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Materia</th>
                    <th>Horario</th>
                    <th>Fecha</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    
                    
                    <th>Salir</th>
                   
                </thead>
                <tbody>
                    {% for item in obj %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nombre.nombre}} {{item.nombre.apellidoP}} {{item.nombre.apellidoM}}</td>
                        <td>{{item.materia.nombre}} {{item.materia.horaInicio}}  </td>
                        
                        <td>{%for x in item.materia.idUaHorario.all%}
                            <ul>
                                <li>{{x.fecha}} {{ x.horaInicio|time:"H:i"}}  {{ x.horaSalida|time:"H:i"}}</li>
                            </ul>
                            {%endfor%}
                        </td>
                        
                        <!--<td>{%for x in item.nombre.all%}
                            <ul>
                                <li>{{x.nombre}} {{ x.apellidoP}}  {{ x.apellidoM}}</li>
                            </ul>
                            {%endfor%}
                        </td>
                        <td>{%for x in item.materia.all%}
                            <ul>
                                <li>{{x.nombre}}}</li>
                            </ul>
                            {%endfor%}
                        </td>-->
                        <td>{{item.horae|date:"d/m/Y"}}</td>
                        <td>{{item.horae|date:"H:i:s"}}</td>
                        <td>{{item.horas|date:"H:i:s"}}</td>
                        
                        <td>
                            
                            <a href= "{% url 'academica:docente_sale' item.id %}" class="btn btn-danger" role="button" title="Salir "><i class="glyphicon glyphicon-log-in"></i></a>
                            
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {% endif %}
    </div>
    </div>
{% endblock %}


{% block js_page%}
<script>


    $(function(){
        $('#data').DataTable({
        responcive:true,
        autoWidth: false,
        language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
        }

        })
   });
</script>


{% endblock %}
