{% extends 'base/base-admin.html' %}



{% block sidebar%}
{% endblock %}



{% block tituloprincipal %}
<h1 class="page-header">Acceso al Sistema </h1>
{% endblock %}

{% block content%}

<div class="row">

    <div class="col-lg-3"></div>

    <div class="col-lg-6 ">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Por Favor Accede</h3>
                <br>
                <small class="text-danger">
                    {% if form.errors %}
                        <!-- Errores  de los campos-->
                        {% for field in form%}
                            {% if field.errors %}
                                {%for error in field.errors %}
                                {{ error|escape}}
                                {%endfor%}
                            {% endif %}
                        {% endfor%}
                        
                        <!-- Errores que no son de los campos-->
                        {% if form.non_field_errors %}
                            {%for error in form.non_field_errors %}
                                {{ error|escape}}
                            {%endfor%}
                        {% endif %}

                    {% endif %}
                </small>
            </div>
            <div class="panel-body">
                <form role="form" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Usuario" name="username" type="text" autofocus required id="id_username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="" required id="id_password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                            </label>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block">Acceder</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>



{% endblock %}

